<footer class="footer">
    <div class="footer-container">

        <!-- Left Section: Logo & Info -->
        <div class="footer-left">
            <a routerLink="home" class="footer-logo">
                <img src="MVM Logo.png" alt="MVM Logo" class="logo">
                <div class="footer-info">
                    <span class="title">MAHARISHI VIDYA MANDIR SCHOOL</span>
                    <span class="subtitle">(CBSE SCHOOL)</span>
                    <span class="address">No.1, School Road, Athur Chengalpattu - 603101</span>
                </div>
                <img src="mvm.png" alt="MVM Logo" class="logo">
            </a>
        </div>

        <!-- Middle Section: Contact -->
        <div class="footer-contact">
            <h5>Contact Us</h5>
            <a class="contact" href="tel:+917397561010"><i class="fas fa-phone"></i> +91 73975 61010</a>
            <a class="contact" href="tel:+919677303403"><i class="fas fa-phone"></i> +91 96773 03403</a>
            <a class="contact" href="mailto:maharishividyamandir.athur@gmail.com"><i class="fas fa-envelope"></i>
                maharishividyamandir.athur@gmail.com</a>
        </div>

        <!-- Right Section: Social Media -->
        <div class="footer-right">
            <h5>Follow Us</h5>
            <div class="footer-social">
                <a href="https://www.instagram.com/mvmathurofficial?igsh=MXR5N2xkMXcwZmxpaA==" target="_blank" class="social-icon instagram">
                    <i class="fab fa-instagram"></i>
                    <span>Follow us Instagram</span>
                </a>
                <a href="https://www.facebook.com/mvmcbseschool/" target="_blank" class="social-icon facebook">
                    <i class="fab fa-facebook"></i>
                    <span>Follow us Facebook</span>
                </a>
                <a href="https://youtube.com/@maharishividyamandir-athur" target="_blank" class="social-icon youtube">
                    <i class="fab fa-youtube"></i>
                    <span>Follow us Youtube</span>
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <span class="footer-bottom-text">© 2025 Maharishi Vidya Mandir Athur Chengalpattu - All rights reserved</span>
</div>